<ul>
    <li>
        <a href="thailand"> <p> Thailand </p> </a>
    </li>
    <li>
        <a href="newYork"> <p> New York </p> </a>
    </li>
    <li>
        <a href="avoriaz"> <p> Avoriaz </p> </a>
    </li>
    <li>
        <a href="lisbon"> <p> Lisbon </p> </a>
    </li>
    <li>
        <a href="denmark"> <p> Denmark </p> </a>
    </li>
</ul>
