
@{
    ViewBag.Title = "Index";
}

<h2>A list of the countries I've been to **</h2>
<p> ** This list might be unfinished and most of the countries might not be clickable.</p>

@Html.Partial("_countriesList")

