@{
    ViewBag.Title = "Gallery";
}
<h2>@ViewBag.Title</h2>

<h4>@ViewBag.Message</h4>

@Html.Partial("../Denmark/navBarDenmark")

<div class="gallery">

    @foreach (var imgFile in ViewBag.imageArray)
    {
    <a href="~/Content/Images/denmark/@Path.GetFileName(imgFile)" data-lightbox="mygallery" data-title="Denmark"> <img src="~/Content/Images/denmark/@Path.GetFileName(imgFile)" alt="Denmark" /> </a>
    }

</div>


