
@{
    ViewBag.Title = "Index";
}

@Html.Partial("navbarThailand")

<div>
    <h3> Thailand </h3>

    <p> This is from when i went to Thailand with family back in 20XX (INSERT YEAR HERE)</p>

    <h3>@ViewBag.Message</h3>

</div>
<div>

    <a href="~/Content/Images/Maps/Thailand.png" data-lightbox="mygallery" data-title="Map of thailand"> <img width="50%" src="~/Content/Images/Maps/Thailand.png" alt="Map of thailand" /> </a>

    <p> An image of Thailand. </p>
</div>




