
@{
    ViewBag.Title = "Index";
}

@Html.Partial("navbarThailand")

<h2>Index</h2>

<h3> Small little intro </h3>

<p> This is from when i went to Thailand with family back in 20XX (INSERT YEAR HERE)</p>

<h3>@ViewBag.Message</h3>


<a href="/Content/Images/map.jpg" data-lightbox="mygallery" data-title="Map of town"> <img width="70%" src="/Content/Images/map.jpg" alt="Town image" /> </a>

<p> An image of the ski routes available at Avoriaz </p>

<a href="/Content/Images/map.jpg" data-lightbox="mygallery" data-title="Map of town"> <img width="70%" src="/Content/Images/town.jpg" alt="Town Map" /> </a>


<p>Use this area to provide additional information.</p>

