<div>
    <ul>
        <li>
            <p> @Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </p>
        </li>
        <li>
            <p> @Html.ActionLink("Map of Thailand", "Index", "Thailand") </p>
        </li>
        <li>
            <p> @Html.ActionLink("Gallery", "Gallery", "Thailand") </p>
        </li>
    </ul>
</div>
