<div>
    <ul>
        <li>
            <p> @Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </p>
        </li>
        <li>
            <p> @Html.ActionLink("Each day", "Eachday", "Avoriaz") </p>
        </li>
        <li>
            <p> @Html.ActionLink("Map", "Index", "Avoriaz") </p>
        </li>
        <li>
            <p> @Html.ActionLink("Gallery", "Gallery", "Avoriaz") </p>
        </li>
    </ul>
</div>
