
@{
    ViewBag.Title = "EachDay";
}

@Html.Partial("_navBar")

<h2>Each Day:</h2>
<ul>
    @* Scroll to the id "dayOne" *@
    <a href="#dayOne"> <li> Day 1</li> </a>
    <a href="#dayTwo"> <li> Day 2</li> </a>
    <a href="#dayThree"> <li> Day 3</li> </a>
    <a href="#dayFour"> <li> Day 4</li> </a>
    <a href="#dayFive"> <li> Day 5</li> </a>
    <a href="#daySix"> <li> Day 6</li> </a>
</ul>

