
@{
    ViewBag.Title = "EachDay";
}

@Html.Partial("_navBar")

<h2>Each Day:</h2>
<ul>
    @* Scroll to the id "dayOne" *@
    <a href="#dayOne"> <li> Day 1</li> </a>
    <a href="#dayTwo"> <li> Day 2</li> </a>
    <a href="#dayThree"> <li> Day 3</li> </a>
    <a href="#dayFour"> <li> Day 4</li> </a>
    <a href="#dayFive"> <li> Day 5</li> </a>
    <a href="#daySix"> <li> Day 6</li> </a>

</ul>

<div class="days">
    <hr />
    <div class="dayOne">
        <a href="/Content/Images/town.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
        <p> Text of what happened on the first day</p>
        <a href="~/Content/Images/worldMap.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/worldMap.jpg" alt="Town image" /> </a>
        <p> Another pic</p>
    </div>

    <hr />

    <div class="dayTwo">
        <a href="/Content/Images/town.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
        <p> Text of what happened on the second day</p>
        <a href="~/Content/Images/worldMap.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/worldMap.jpg" alt="Town image" /> </a>
        <p> Another pic</p>
    </div>

    <hr />

    <div class="dayThree">
        <a href="/Content/Images/town.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
        <p> Text of what happened on the third day</p>
        <a href="~/Content/Images/worldMap.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/worldMap.jpg" alt="Town image" /> </a>
        <p> Another pic</p>
    </div>

    <hr />

    <div class="dayFour">
        <a href="/Content/Images/town.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
        <p> Text of what happened on the fourth day</p>
        <a href="~/Content/Images/worldMap.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/worldMap.jpg" alt="Town image" /> </a>
        <p> Another pic</p>
    </div>

    <hr />

    <div class="dayFive">
        <a href="/Content/Images/town.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
        <p> Text of what happened on the fifth day</p>
        <a href="~/Content/Images/worldMap.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/worldMap.jpg" alt="Town image" /> </a>
        <p> Another pic</p>
    </div>

    <hr />

    <div class="daySix">
        <a href="/Content/Images/town.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
        <p> Text of what happened on the sixth day</p>
        <a href="~/Content/Images/worldMap.jpg" data-lightbox="mygallery" data-title="Map of town"> <img src="/Content/Images/worldMap.jpg" alt="Town image" /> </a>
        <p> Another pic</p>
    </div>

    <br />
</div>




