@{

}

@Html.Partial("_navBar")

<h3> Small little intro </h3>

<p> This is from when i went to Avoriaz with SDU skiklub (Southern University of Denmark skiing club). This is where the description of the trip is going to be when im actually done with it. I am going in like 3 months so it's cool. </p>

<h3>@ViewBag.Message</h3>


<a href="/Content/Images/map.jpg" data-lightbox="mygallery" data-title="Map of town"> <img width="70%" src="/Content/Images/map.jpg" alt="Town image" /> </a>

<p> An image of the ski routes available at Avoriaz </p>

<a href="/Content/Images/map.jpg" data-lightbox="mygallery" data-title="Map of town"> <img width="70%" src="/Content/Images/town.jpg" alt="Town Map" /> </a>


<p>Use this area to provide additional information.</p>
