<div>
    <ul>
        <li>
            <p> @Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) </p>
        </li>
        <li>
            <p> @Html.ActionLink("Map", "Index", "Denmark") </p>
        </li>
        <li>
            <p> @Html.ActionLink("Gallery", "Denmark", "Gallery") </p>
        </li>
    </ul>
</div>
