@{
    ViewBag.Title = "Gallery";
}
<h2>@ViewBag.Title.</h2>

<div class="gallery">
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
    <a href="/Content/Images/town.jpg"> <img src="/Content/Images/town.jpg" alt="Town image" /> </a>
</div>

@*<div class="responsive">
    <div class="gallery">
        <a target="_self" href="/Content/Images/town.jpg">
            <img src="/Content/Images/town.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">This is just a test</div>
    </div>
</div>*@

<p>@ViewBag.Message</p>
