@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vacations</h1>
    <p class="lead"> This website was made with the sole purpose of me (Malte Hesk-Møller) having a place to see my vacation pictures.</p>
    <p><a href="vacationList" class="btn btn-primary btn-lg"> Current vacations &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Where I've been:</h2>

        @Html.Partial("_countriesList")
    </div>
    <div class="col-md-4">
        <p> A nice little map to brag: </p>
        <a href="~/Content/Images/worldMap.jpg" data-lightbox="mygallery" data-title="Map of town"> <img width="100%" src="/Content/Images/worldMap.jpg" alt="Town Map" /> </a>
    </div>
    <div class="col-md-4">
        <h2>Cool facts about me</h2>
        <ol>
            <li>
                <p> Born on a fateful night of August 2. 1997.</p>
            </li>
            <li>
                <p> I have an older brother. </p>
            </li>
            <li>
                <p> I have a twin. She's cool though. </p>
            </li>
            <li>
                <p> I love dogs.</p>
            </li>
            <li>
                <p> Yada yada who reads this?</p>
            </li>
        </ol>
        
    </div>
</div>