@{
    ViewBag.Title = "Map";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img style="width: 100%; display: block;" src="/Content/Images/map.jpg" alt="Avoriaz Map">

<p> An image of the ski routes available at Avoriaz </p>

<img style="width: 100%; display: block;" src="/Content/Images/town.jpg" alt="Town Map">

<p>Use this area to provide additional information.</p>
